@import '../../../variables.scss';

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button-image {
  position: fixed;
  transition: all .27s ease-in-out;
  z-index: 10;

  &:hover {
    transition: all .27s ease-in-out;
    filter: brightness(133%);
  }
}

.button-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

button {
  width: 190px;
  height: 45px;

  background: url('/assets/gfx/sys/button-large.png');
  background-size: no-repeat;

  &.basic {
    background: none;

    &:hover {
      background: $white;
      border-radius: 5px;
    }
  }

  &:hover {
    background: url('/assets/gfx/sys/button-large-hover.png');
  }

  &.raised {
    filter: drop-shadow(0px 5px 5px $dark);
  }

  &.stroked {
    filter: drop-shadow(2px 0 0 $darkbrown) drop-shadow(0 2px 0 $darkbrown) drop-shadow(-2px 0 0 $darkbrown) drop-shadow(0 -2px 0 $darkbrown);
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}