<div class="left-window">
  <div class="menu-headline-border-horizontal top"></div>
  <div class="menu-headline-border-horizontal bottom"></div>
  <div class="menu-content-border-vertical left"></div>
  <div class="menu-content-border-vertical right"></div>
  <div class="menu-corner top left"></div>
  <div class="menu-corner top right"></div>
  <div class="menu-corner bottom left"></div>
  <div class="menu-corner bottom right"></div>

  <div class="menu-headline-border-horizontal" [ngStyle]="{'top': '64px'}"></div>
  <div class="menu-corner left" [ngStyle]="{'top': '64px'}"></div>
  <div class="menu-corner right" [ngStyle]="{'top': '64px'}"></div>

  <div class="ui-top">
    <button class="button-small">
      <img src="/assets/gfx/sys/new.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/load.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/save.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/settings.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/quit.png" />
    </button>
  </div>

  <ul class="options" [ngStyle]="{'top': '64px'}">
    <li>{{'editor.terrain' | translate}}</li>
    <li>{{'editor.objects' | translate}}</li>
    <li>{{'editor.units' | translate}}</li>
    <li>{{'editor.items' | translate}}</li>
    <li>{{'editor.infos' | translate}}</li>
  </ul>

  <div class="terrain-buttons-right">
    <button class="button-small">
      <img src="/assets/gfx/sys/paper-role.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/map.png" />
    </button>
  </div>

  <div class="terrain-buttons-bottom">
    <button class="button-small">
      <img src="/assets/gfx/sys/heightmap.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/colormap.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/grassmap.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/bullets.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/up.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/down.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/hill.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/terrain.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/object-height.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/up-rect.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/down-rect.png" />
    </button>
    <button class="button-small">
      <img src="/assets/gfx/sys/down-rect-ground.png" />
    </button>
  </div>

  <div class="menu-headline-border-horizontal" [ngStyle]="{'top': '200px'}"></div>
  <div class="menu-corner left" [ngStyle]="{'top': '200px'}"></div>
  <div class="menu-corner right" [ngStyle]="{'top': '200px'}"></div>
</div>
