<div class="menu-headline-border-horizontal top"></div>
<div class="menu-headline-border-horizontal bottom"></div>
<div class="menu-content-border-vertical left"></div>
<div class="menu-content-border-vertical right"></div>
<div class="menu-corner top left"></div>
<div class="menu-corner top right"></div>
<div class="menu-corner bottom left"></div>
<div class="menu-corner bottom right"></div>

<div class="content" [ngSwitch]="tab">
  <app-news *ngSwitchCase="'news'"></app-news>
  <app-stranded-ii *ngSwitchCase="'stranded-ii'"></app-stranded-ii>
  <app-stranded-ii *ngSwitchCase="'stranded-ii'"></app-stranded-ii>
  <app-download-content *ngSwitchCase="'download-content'"></app-download-content>
  <app-modifications *ngSwitchCase="'modifications'"></app-modifications>
  <app-tips-tutorials *ngSwitchCase="'tips-tutorials'"></app-tips-tutorials>
</div>
