<p class="headline">Auf einer verlassenen Insel mitten im weiten Ozean wimmelt es nur so von Lebewesen. Ob an
    Land, im Wasser oder in der Luft - es gibt immer etwas zu entdecken und untersuchen.</p>

  <h2>Landtiere</h2>
  <p>Die Wildnis in Stranded II mag von vielen unterschiedlichen Tieren belebt sein, doch irgendwie haben diese
    gemeinschaftlich beschlossen, einander zu respektieren und nicht zu jagen. Der einzige Gejagte bist
    natürlich du.</p>
  <p>Die allermeisten Landtiere hegen ohnehin ein friedliches Dasein; so laufen etwa die Krabben am Strand
    entlang und werden gelegentlich von trägen Schildkröten besucht. Spinnen wimmeln über den Inselboden und
    Schnecken kriechen im feuchten Unterholz dahin, während kleine Äffchen vornehmlich zwischen Bananenpalmen
    hin und her sausen. Nachts leuchten an bestimmten Orten Glühwürmchen und fliegen zwischen den Palmen herum.
    Vereinzelt trifft man auf ein paar Kiwi-Vögel, welche sich im Dschungel verirrt haben und durch die Gegend
    hüpfen.</p>
  <p>Mit etwas Glück begegnet man auf einigen Inseln ein paar Schafen, welche friedlich blöken und gute Wolle-
    und Fleischlieferanten darstellen. Hoch am Himmel ziehen weiße Vögel ihre Kreise, unter die sich ab und zu
    auch ein angriffslustiger Adler mischt. Zu guter Letzt sollte man sich vor den Löwen in Acht nehmen, welche
    den Spieler attackieren, sobald er sich in ihrer Nähe befindet. Auch Raptoren, Skorpione und Krallenäffchen
    greifen dich an, sind allerdings relativ selten.</p>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Energie</th>
        <th>Geschwindigkeit</th>
        <th>Verhalten</th>
        <th>Besonderheiten</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Raptor</td>
        <td>110</td>
        <td>2.5</td>
        <td>Agressive Landeinheit, welche den Spieler verfolgt und angreift, sobald er in Sichtweite gelangt
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Krebs</td>
        <td>40</td>
        <td>0.1</td>
        <td>Die Einheit verhält sich wie eine Krabbe, das heißt sie läuft seitwärts. Sie kann sich auf Land und
          im Wasser fortbewegen und ist nicht agressiv</td>
        <td></td>
      </tr>
      <tr>
        <td>Schmetterling</td>
        <td>1</td>
        <td>1.2</td>
        <td>Die Einheit fliegt dicht über dem Boden. Sie ist nicht aggressiv</td>
        <td></td>
      </tr>
      <tr>
        <td>Löwe</td>
        <td>75</td>
        <td>1.6</td>
        <td>Agressive Landeinheit, welche den Spieler verfolgt und angreift, sobald er in Sichtweite gelangt
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Schildkröte</td>
        <td>80</td>
        <td>0.2</td>
        <td>Die Einheit lebt sowohl an Land als auch im Wasser. Sie ist nicht aggressiv</td>
        <td></td>
      </tr>
      <tr>
        <td>Skorpion</td>
        <td>30</td>
        <td>0.6</td>
        <td>Agressive Landeinheit, welche den Spieler verfolgt und angreift, sobald er in Sichtweite gelangt
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Schaf</td>
        <td>100</td>
        <td>0.2</td>
        <td>Eine einfache Landeinheit welche nur durch die Gegend läuft</td>
        <td></td>
      </tr>
      <tr>
        <td>Libelle</td>
        <td>3</td>
        <td>1.6</td>
        <td>Die Einheit fliegt dicht über dem Boden. Sie ist nicht aggressiv</td>
        <td></td>
      </tr>
      <tr>
        <td>Fliege</td>
        <td>3</td>
        <td>1.0</td>
        <td>Die Einheit fliegt dicht über dem Boden. Sie ist nicht aggressiv</td>
        <td></td>
      </tr>
      <tr>
        <td>Schnecke</td>
        <td>3</td>
        <td>0.01</td>
        <td>Eine einfache Landeinheit welche nur durch die Gegend läuft</td>
        <td></td>
      </tr>
      <tr>
        <td>Affe</td>
        <td>50</td>
        <td>2.8</td>
        <td>Affen-Verhalten. Änhlich wie animal, nicht agressiv</td>
        <td></td>
      </tr>
      <tr>
        <td>Spinne</td>
        <td>3</td>
        <td>1.0</td>
        <td>Eine einfache Landeinheit welche nur durch die Gegend läuft</td>
        <td></td>
      </tr>
      <tr>
        <td>Glühwürmchen</td>
        <td>3</td>
        <td>2.0</td>
        <td>Die Einheit fliegt dicht über dem Boden. Sie ist nicht aggressiv</td>
        <td></td>
      </tr>
      <tr>
        <td>Vogel</td>
        <td>5</td>
        <td>2.4</td>
        <td>Vögel. Nicht agressiv. Sie unterscheiden sich nur in ihrer Flughöhe</td>
        <td></td>
      </tr>
      <tr>
        <td>Kiwi</td>
        <td>5</td>
        <td>0.8</td>
        <td>Eine einfache Landeinheit welche nur durch die Gegend läuft</td>
        <td></td>
      </tr>
      <tr>
        <td>Papagei</td>
        <td>5</td>
        <td>3.8</td>
        <td>Ein Vogel, welcher mit variabler Höhe durch die Gegend fliegt und sich ab und zu auch auf den Boden
          setzt. Nicht
          agressiv</td>
        <td></td>
      </tr>
      <tr>
        <td>Krallenäffchen</td>
        <td>50</td>
        <td>2.7</td>
        <td>Agressive Landeinheit welche den Spieler verfolgt und angreift, sobald er in Sichtweite gelangt</td>
        <td></td>
      </tr>
      <tr>
        <td>Heuschrecke</td>
        <td>1</td>
        <td>1.5</td>
        <td>Eine Unit, welche alle Objekte und Items mit "plague_target"-Verhalten isst</td>
        <td></td>
      </tr>
      <tr>
        <td>Trage-Affe</td>
        <td>50</td>
        <td>1.4</td>
        <td>Affen-Verhalten. Änhlich wie animal, nicht agressiv</td>
        <td></td>
      </tr>
      <tr>
        <td>Adler</td>
        <td>50</td>
        <td>3.4</td>
        <td>"Killer-Bird", welcher den Spieler aus der Luft angreift</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <h2>Wassertiere</h2>
  <p>Zeit für eine kleine Abkühlung! Tauche ein ins kühle Nass und sieh den Fischen dabei zu, wie sie ihre
    Kreise ziehen. Aber nimm dich vor den fiesen Piranhas in Acht, welche dich beißen wollen! In einigen
    küstennahen Gewässern leben große Haie, mit denen man es sich nicht verscherzen sollte. Doch abgesehen davon
    geht es im Meer sehr ruhig und unspektakulär zu.</p>

  <h2>Pflanzen</h2>
  <p>Palmen, so weit das Auge reicht. Welch ein Traumparadies - wenn man einmal davon absieht, dass man
    unverhofft gestrandet ist und um sein nacktes Überleben kämpft. Dennoch sollte man sich, nachdem man seine
    Grundbedürfnisse gestillt hat, die Zeit nehmen und die vielfältigen Palmenarten untersuchen.</p>
  <p>Einige liefern Blätter, aus welchen man Wasser auspressen kann, andere dagegen versorgen den Spieler mit
    Lianen, welche für den Gebäudebau wichtig sind. Zudem gibt es noch gewöhnliche Dschungelbäume, welche dem
    Gestrandeten Äste und Rinde bieten zum Feuermachen oder Werkzeuge bauen. Zudem bilden die Früchte von Bäumen
    eine wichtige Nahrungsgrundlage. Große Büsche und Farne bringen ebenfalls Blätter ein.</p>