<div class="menu-headline-border-horizontal top"></div>
<div class="menu-headline-border-horizontal bottom"></div>
<div class="menu-headline-border-vertical left"></div>
<div class="menu-headline-border-vertical right"></div>
<div class="menu-corner top right"></div>
<div class="menu-corner top left"></div>
<div class="menu-corner bottom left"></div>
<div class="menu-corner bottom right"></div>

<div class="navigation">
  <a (click)="setActiveTab('nav-news')" [ngClass]="{'active': activeTab === 'nav-news'}">Neuigkeiten</a>
  <a (click)="setActiveTab('nav-stranded-ii')" [ngClass]="{'active': activeTab === 'nav-stranded-ii'}">Stranded II</a>
  <a (click)="setActiveTab('nav-download-content')" [ngClass]="{'active': activeTab === 'nav-download-content'}">Download-Material</a>
  <a (click)="setActiveTab('nav-modifications')" [ngClass]="{'active': activeTab === 'nav-modifications'}">Modifikationen</a>
  <a (click)="setActiveTab('nav-tips-tutorials')" [ngClass]="{'active': activeTab === 'nav-tips-tutorials'}">Tipps und Tutorials</a>
</div>
