<div id="content-stranded-ii-combinations">
  <p class="headline">
    Was wäre ein gutes Adventure ohne die Möglichkeit, Gegenstände zu kombinieren? In Stranded II gibt es unzählige
    Varianten, um aus primitiven natürlichen Ressourcen komplexe Werkzeuge, Waffen und andere Objekte zu fabrizieren.
  </p>

  <h2>Aktionen</h2>
  <table>
    <thead>
      <tr>
        <th>Beschreibung</th>
        <th>Benötigte Items</th>
        <th>Effekt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Feuer machen</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/bark.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Der Spieler versucht, den Ast und die Rinde als Zunder zu nutzen und ein Feuer zu entfachen. Dieser Prozess
            dauert 4,5 Sekunden. Manchmal klappt es nicht gleich beim ersten Mal, doch die beiden Items sind dennoch
            verloren.
          </p>
          <p>Wenn keine Holzressourcen auffindbar sind, tun es auch zwei <a href="#">Feuersteine</a>.</p>
        </td>
      </tr>
      <tr>
        <td>Bruch einschienen</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/liana.png" />
            <div class="amount">1</div>
          </div>
          bzw.
          <div class="item">
            <img src="/assets/gfx/ironbar.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/liana.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          Wenn der Spieler einen <a href="#">Bruch</a> hat, so wird dieser eingeschient und der Bruch-Status
          verschwindet. Sollte der Spieler keinen Bruch haben, passiert nichts.
        </td>
      </tr>
      <tr>
        <td>Wunde verbinden</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/leaf.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/liana.png" />
            <div class="amount">1</div>
          </div>
          bzw.
          <div class="item">
            <img src="/assets/gfx/skin.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/liana.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          Wenn der Spieler eine <a href="#">Blutung</a> hat, so wird diese verbunden und der Blutungs-Status
          verschwindet. Sollte der Spieler keine Blutung haben, passiert nichts.
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Grundausrüstung</h2>
  <table>
    <thead>
      <tr>
        <th>Erzeugter Gegenstand</th>
        <th>Benötigte Items</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/bendablebranch.png" />
          </div>
          Biegbarer Ast
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/water.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Ein biegbarer Ast wird benötigt, um eine <a href="#">Angel</a> oder einen <a href="#">Bogen</a> herstellen
            zu können.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/flour.png" />
          </div>
          Mehl
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/grain.png" />
            <div class="amount">9</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>Mehl ist die Grundlage zur Herstellung von <a href="#">Teig</a>.</p>
          <p>Der <a href="">Stein</a> wird nach der erfolgreichen Kombination behalten.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/paste.png" />
          </div>
          Teig
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/flour.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/water.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Der Teig kann entweder zu <a href="#">Schokoteig</a> weiter verarbeitet oder zu
            <a href="#">Brot</a> gebacken werden.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/ironbar.png" />
          </div>
          Eisenstange
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/iron.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/hammer.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Mithilfe einer Eisenstange lassen sich komplexere Werkzeuge wie <a href="#">Spitzhacke</a> oder
            <a href="#">Sense</a> fertigen. Alternativ kann die Eisenstange in kleinere
            <a href="">Eisenbolzen</a> zerstückelt werden.
          </p>
          <p>Der <a href="">Hammer</a> wird nach der erfolgreichen Kombination behalten.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/joint.png" />
          </div>
          Joint
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/hempleaf.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/leaf.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Wem das Leben als Gestrandeter zu langweilig wird, der drehe sich einen Joint und rauche ihn anschließend
            durch Auswahl der Option "Essen".
          </p>
          <p>Aber Vorsicht: Wer kifft, wird <a href="#">high</a> und kann sich schlechter orientieren.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/poison.png" />
          </div>
          Gift
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/fungus03.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Reines Gift darf niemals getrunken werden, da es den Spieler - welch ein Wunder - <a href="#">vergiftet</a>.
            Es eignet sich jedoch hervorragend zur Herstellung von <a href="#">Giftpfeilen</a>, welche die Tiere tödlich
            verwunden.
          </p>
          <p>Der <a href="">Stein</a> wird nach der erfolgreichen Kombination behalten.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/cacao.png" />
          </div>
          Kakao
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/cacaofruit.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Leckerer Kakao lässt sich pur verspeisen oder in einen <a href="#">Teig</a> einrühren, um edlen
            <a href="">Schokoteig</a> zu erhalten.
          </p>
          <p>Der <a href="">Stein</a> wird nach der erfolgreichen Kombination behalten.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
          </div>
          10 Äste
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/trunk.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/matchet.png" />
            <div class="amount">1</div>
          </div>
          oder
          <div class="item">
            <img src="/assets/gfx/trunk.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/axe.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Wenn es einmal an Ästen mangelt, kann ein Baumstamm zerkleinert werden. Bedenke jedoch, dass Baumstämme
            meist seltener auf der Insel vorkommen bzw. schwieriger zu erlangen sind, vor allem wenn man noch keine
            <a href="#">Axt</a> besitzt. Wende diese Kombination also möglichst selten an, um deine Ressourcen zu
            schonen.
          </p>
          <p>Die <a href="">Machete</a> bzw. <a href="#">Axt</a> wird nach der erfolgreichen Kombination behalten.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/pebbles.png" />
          </div>
          10 Kieselsteine
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/hammer.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Auch diese Kombination ist wenig hilfreich. Kieselsteine lassen sich sehr leicht in hoher Anzahl gewinnen
            durch das Einschlagen auf Steinfelsen, während Steine seltener sind.
          </p>
          <p>Der <a href="">Hammer</a> wird nach der erfolgreichen Kombination behalten.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/chocopaste.png" />
          </div>
          Schokoteig
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/paste.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/cacao.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Eines der Geheimrezepte von Gestrandeten lautet: Röste dir etwas Schokoteig am Feuer und du erhältst leckere
            <a href="#">Schokokekse</a>.
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Werkzeuge</h2>
  <table>
    <thead>
      <tr>
        <th>Hergestelltes Werkzeug</th>
        <th>Benötigte Items</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/hammer.png" />
          </div>
          Hammer
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Das erste und wichtigste Werkzeug eines Überlebenden in freier Wildnis ist ein Hammer. Mehr als einen
            braucht man gar nicht. Aber dieser eine ermöglicht es, <a href="">Gebäude</a> zu bauen und zahlreiche
            Werkzeuge oder Waffen zu konstruieren (siehe unten).
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/fishingrod.png" />
          </div>
          Angel
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/bendablebranch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/cord.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Um leicht an <a href="#">Fische</a> zu gelangen, benutze eine Angel am Meeresufer oder an einem See im
            Inneren der Insel. Spezielle Fischereigebiete zeichnen sich durch
            <a href="#">Blasenbildung an der Wasseroberfläche</a> aus.
          </p>
          <p>
            Nutze einen Köder (<a href="#">Wurm</a> oder <a href="#">Insektenteile</a>), um die Wahrscheinlichkeit eines
            Fanges zu erhöhen.
          </p>
          <p>
            Je häufer du angelst, um so mehr steigt dein <a href="#">Angel-Skill</a> und du fängst mit der Zeit mehr.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/axe.png" />
          </div>
          Axt
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/iron.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/hammer.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Mit einer Axt wirst du zum Schlächter der Wälder und gelangst an große <a href="#">Baumstämme</a>, welche du
            zur Errichtung von Gebäuden bzw. beim Bauen von Fahrzeugen verwenden kannst.
          </p>
          <p>
            Jedes Mal, wenn du mit der Axt auf einen Baum einschlägst, steigt dein
            <a href="">Skill im Holzfällen</a> und du erhältst nach und nach mehr Ressourcen.
          </p>
          <p>Der <a href="">Hammer</a> wird nach der erfolgreichen Kombination behalten.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/spade.png" />
          </div>
          Spaten
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/iron.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/hammer.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Mithilfe eines Spatens lässt sich der Inselboden umgraben und nach kleinen Dingen wie
            <a href="#">Kieselsteinen</a>, <a href="#">Würmern</a> oder <a href="#">Kräutern</a> durchsuchen.
          </p>
          <p>
            Immer wenn du einen Spaten mit dem Boden benutzt, steigt dein <a href="#">Skill im Graben</a> und du findest
            mit der Zeit bessere Items wie <a href="">Pilze</a>.
          </p>
          <p>Der <a href="">Hammer</a> wird nach der erfolgreichen Kombination behalten.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/pickaxe.png" />
          </div>
          Spitzhacke
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/ironbar.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/hammer.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Hast du dich gefragt, wieso aus einem <a href="#">Eisenfelsen</a> nur so wenig
            <a href="#">Eisenklumpen</a> zu fördern sind? Die Antwort ist einfach: Ein Hammer ist nicht das richtige
            Werkzeug, um Eisen abzubauen. Mit einer Spitzhacke wird deine Ausbeute viel größer sein.
          </p>
          <p>Der <a href="#">Hammer</a> wird nach der erfolgreichen Kombination behalten.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/scythe.png" />
          </div>
          Sense
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/ironbar.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/hammer.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Mithilfe einer Sense lässt sich <a href="">Getreide</a> schnell und effizient ernten. Als Waffe taugt die
            Sense wenig, da sie mühsam zu benutzen ist.
          </p>
          <p>Der <a href="">Hammer</a> wird nach der erfolgreichen Kombination behalten.</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/tentitem.png" />
          </div>
          Zelt
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/skin.png" />
            <div class="amount">10</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">10</div>
          </div>
        </td>
        <td>
          <p>
            Unter freiem Himmel schlafen kann romantisch sein, aber nur wenn man zu zweit ist. Das bist du nicht und
            somit ist ein Zelt eindeutig die bessere Wahl. Zumal du es abbauen und in deinem Rucksack mit dir herum
            tragen kannst. Somit ist ein Zelt zugleich das einzige mobile "Gebäude" überhaupt.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/net.png" />
          </div>
          Netz
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/cord.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Fang dir ein paar <a href="#">Schmetterlinge</a>, denn sie sind lustig und verringern auch noch dein
            Rucksack-Gewicht. Wie genau das klappen soll, ist wissenschaftlich nicht hinreichend belegt... Aber Stranded
            II ist nur ein Spiel und irgendwie muss man das ganze Zeug ja mit sich rumschleppen können.
          </p>
          <p>
            Wichtig: Drücke die <i>rechte</i> Maustaste, um einen Schmetterling zu fangen - sonst erschlägst du ihn.
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Waffen</h2>
  <table>
    <thead>
      <tr>
        <th>Hergestellte Waffe</th>
        <th>Benötigte Items</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Speer</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>Speere sind hervorragende Nahkampfwaffen: Bereits mit zwei Speeren lässt sich ein großer Löwe erlegen!</p>
        </td>
      </tr>
      <tr>
        <td>Bogen</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/bendablebranch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/cord.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Ein einfacher Bogen, mit welchem man <a href="#">Holz-</a>, <a href="#">Feuer-</a>,
            <a href="#">Gift-</a> oder ganz normale <a href="#">Pfeile</a> verschießen kann.
          </p>
        </td>
      </tr>
      <tr>
        <td>Steinschleuder</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/liana.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Sehr nützliche, kleine Waffe, um <a href="#">Kieselsteine</a> auf Tiere zu schießen. Das kostet zwar etwas
            Mühe, bis diese schließlich tödlich verwundet sind, aber während des Kampfes ums Überleben wird man an
            dutzende oder gar hunderte Kieselsteinchen gelangen (allein wenn man <a href="#">Eisen</a> abbaut).
          </p>
        </td>
      </tr>
      <tr>
        <td>Goldbogen</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/goldnugget.png" />
            <div class="amount">10</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/cord.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/hammer.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Der edle Goldbogen verursacht eine Menge Schaden bei verschossenen Pfeilen und sieht ungemein edel aus.
            Schon erwähnt, dass das edle Teil sehr edel ist?
          </p>
        </td>
      </tr>
      <tr>
        <td>Langbogen</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/bendablebranch.png" />
            <div class="amount">3</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/cord.png" />
            <div class="amount">3</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/matchet.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Pfeile, die mit einem Langbogen verschossen werden, fliegen wesentlich weiter als mit jedem anderen Bogen.
            Somit ist er eine ideale Fernkampf-Waffe.
          </p>
        </td>
      </tr>
      <tr>
        <td>Machete</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/iron.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/hammer.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Sie eignet sich sehr gut als Nahkampfwaffe und fügt Gegnern ordentlich Schaden zu. Außerdem kann man mit
            einer Machete hervorragend <a href="#">Rinde</a> von Bäumen schälen.
          </p>
        </td>
      </tr>
      <tr>
        <td>Armbrust</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">3</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/ironbar.png" />
            <div class="amount">5</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/cord.png" />
            <div class="amount">6</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/ironbolt.png" />
            <div class="amount">10</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/hammer.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Mit einer Armbrust lassen sich <a href="#">Holz-</a> bzw. <a href="#">Eisenbolzen</a> verschießen, welche
            schneller und weiter fliegen, als wenn man Pfeile mit einem Bogen verschießt.
          </p>
        </td>
      </tr>
      <tr>
        <td>Klauenspeer</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/claw.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>Mit seiner scharfen Klauenspitze verursacht dieser Speer große, blutende Wunden bei wilden Tieren.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Munition</h2>
  <table>
    <thead>
      <tr>
        <th>Erzeugte Munition</th>
        <th>Benötigte Items</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Holzpfeil</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/feather.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Pfeil</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/feather.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/pebbles.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Bolzen</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/matchet.png" />
            <div class="amount">1</div>
          </div>
          oder
          <div class="item">
            <img src="/assets/gfx/bendablebranch.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/feather.png" />
            <div class="amount">1</div>
          </div>
          oder
          <div class="item">
            <img src="/assets/gfx/bamboo.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/matchet.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Eisenbolzen</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Giftpfeil</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Feuerpfeil</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <h2>(Ge)-Tränke</h2>
  <table>
    <thead>
      <tr>
        <th>Gebrauter Trank / Hergestelltes Getränk</th>
        <th>Benötigte Zutaten</th>
        <th>Wirkung</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/healthpotion.png" />
          </div>
          Heiltrank
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/herb02.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/water.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>Heilt den Spieler 30 Sekunden lang von Vergiftungen, Schwindel und Rausch.</p>
          <p>
            Diese Kombination klappt auch ohne Wasserflasche, wenn man sich in der Nähe einer Wasserquelle aufhält, aus
            welcher die benötigte Flüssigkeit geschöpft werden kann.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/wine.png" />
          </div>
          Wein
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/grape.png" />
            <div class="amount">30</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Eine Flasche Wein löscht den Durst gut und gibt dir etwas Energie. Übertreibe es jedoch nicht: Sobald du
            drei Flaschen Wein hintereinander trinkst, wirst du berauscht. Bei ganzen fünf Flaschen wirst du dich
            übergeben müssen und verlierst Energie, aber auch dein Rauschzustand verschwindet. Du behältst außerdem
            einen Restalkohol im Blut.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/juice.png" />
          </div>
          Saft
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/berries.png" />
            <div class="amount">30</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Saft ist sehr gesund und gibt dir eine Menge Energie. Nicht nur wirst du sitt (= undurstig), sondern auch
            dein Hunger lässt nach aufgrund des Beerengehalts.
          </p>
        </td>
      </tr>
      <tr>
        <td>Wasser</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/leaf.png" />
            <div class="amount">30</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Klares Trinkwasser - das beste, was es für einen Überlebenden gibt! Sofern du schon ein routinierter
            Survival-Experte bist, kannst du eine Wasserflasche auch auf Feuer werfen, um es zu löschen.
          </p>
          <p>
            Mit Wasser lassen sich außerdem viele Kombinationen durchführen; dafür reicht grundsätzlich aber auch eine
            Wasserquelle.
          </p>
        </td>
      </tr>
      <tr>
        <td>Trank der Hast</td>
        <td>
          <div class="item">
            <img src="/assets/gfx/cacaofruit.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/coffeefruits.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/stone04.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Nach dem Genuss dieses Kakao-Kaffee-Gebräues schnellt dein Puls auf 180 und du bewegst dich eine Minute lang
            doppelt so schnell wie sonst.
          </p>
          <p>Übrigens, dieser Trank ist ganz bestimmt kein Kaffee und hilft daher auch nicht gegen Müdigkeit.</p>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Diverses</h2>
  <table>
    <thead>
      <tr>
        <th>Erzeugter Gegenstand</th>
        <th>Benötigte Items</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="item">
            <img src="/assets/gfx/wilson.png" />
          </div>
          Wilson
        </td>
        <td>
          <div class="item">
            <img src="/assets/gfx/ball.png" />
            <div class="amount">1</div>
          </div>
          <div class="item">
            <img src="/assets/gfx/branch.png" />
            <div class="amount">1</div>
          </div>
        </td>
        <td>
          <p>
            Der altbekannte Freund von Chuck Noland aus dem Film
            <b><a href="https://de.wikipedia.org/wiki/Cast_Away_%E2%80%93_Verschollen" target="_blank">Cast Away</a></b>
            bewahrt auch dich vor der Vereinsamung.
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
