<div id="buttons-top">
  <button class="button-large" (click)="adventure()">
    Steuerung
  </button>
  <button class="button-large" (click)="randomIsland()">
    Grafik
  </button>
  <button class="button-large" (click)="singleIsland()">
    Sound
  </button>
</div>

<div id="buttons-bottom">
  <button class="button-large" (click)="activeMenu = 'main'">
    TODO
  </button>
  <button class="button-large" (click)="saveOptions()">
    TODO
  </button>
</div>

<div class="right-window">
  <app-header [menus]="['options']"></app-header>
  <app-content></app-content>
</div>
