<div id="buttons-top">
  <button class="button-large" (click)="action.emit('adventure')">
    {{ "game.main-menu.adventure" | transloco }}
  </button>
  <button class="button-large" (click)="action.emit('randomIsland')">
    {{ "game.main-menu.random-island" | transloco }}
  </button>
  <button class="button-large" (click)="action.emit('singleIsland')">
    {{ "game.main-menu.single-island" | transloco }}
  </button>
  <button class="button-large" (click)="action.emit('loadIsland')">
    {{ "game.main-menu.load" | transloco }}
  </button>
</div>

<div id="buttons-middle">
  <button class="button-large" (click)="activeMenu.emit('options')">
    {{ "game.main-menu.options" | transloco }}
  </button>
  <button class="button-large" (click)="activeMenu.emit('editor')">
    {{ "game.main-menu.editor" | transloco }}
  </button>
  <button class="button-large" (click)="action.emit('credits')">
    {{ "game.main-menu.credits" | transloco }}
  </button>
</div>

<div id="buttons-bottom">
  <button class="button-large" (click)="action.emit('quit')">
    {{ "game.main-menu.quit" | transloco }}
  </button>
</div>

<div id="stranded-ii-logo"></div>
