<h2>Intro</h2>
<p class="headline">
  Das Abenteuer von Stranded II beginnt, als du mit deiner neuen Yacht übers weite Meer gleitest und in ein Unwetter
  gerätst. Ein Blitz trifft dein Schiff und zerstört es völlig, woraufhin du hilflos dem harten Wellengang ausgesetzt
  bist...
</p>

<h2>Erste Insel</h2>
<p class="headline">
  Irgendwann am nächsten Morgen erwachst du im flachen Wasser vor einem Strand. Das Schicksal hat dich verschont und an
  ein verlassenes Eiland gespült. Doch die Freude währt nur kurz: Jetzt beginnt der Kampf ums Überleben.
</p>

<h2>Zweite Insel</h2>

<h2>Dritte Insel</h2>

<h2>Vierte Insel</h2>

<h2>Auf offener See</h2>

<h2>Outro</h2>
