<div class="image-container">
  <img src="/assets/gfx/sys/story.png" alt="Stranded II Story" />
</div>

<p class="headline">
  Stranded (engl. für gestrandet) ist ein 3D Survival Game. Du übernimmmst die Rolle eines Gestrandeten und musst in
  erster Linie "einfach" nur versuchen, auf der vermeintlich einsamen Insel, an deren Sandstrand dich die Wogen des
  Schicksals gespült haben, zu überleben.
</p>
<p>
  In Stranded II stellst du dich erneut dem Kampf ums Überleben. Dieses Mal gibt es jedoch sehr viel mehr zu entdecken
  und zu erforschen als im Vorgänger.
</p>
<p>
  Die gesamte Inselwelt ist nun schöner gestaltet und verfügt über mehr Details. So ist es zum Beispiel möglich Tiere zu
  zähmen oder zu vergiften oder Bäume anzuzünden.
</p>
<p>
  Vor allem hat sich jedoch die Anzahl der Möglichkeiten und Objekte im Spiel massiv erhöht. Weit über 100
  unterschiedliche Gegenstände wollen gefunden, benutzt, kombiniert, gegessen oder verbaut werden. Viele neue Gebäude
  ermöglichen es dir ein mächtiges Lager zu errichten, welches Schutz und ungeahnten Komfort bietet.
</p>
<p>
  Im Gegensatz zum Vorgänger gibt es nun ein richtiges Abenteuer, welches sich über mehrere Inseln erstreckt und durch
  Aufgaben, Tagebucheinträge und die Interaktion mit anderen Inselbewohnern voran getrieben wird.
</p>
<p>
  Natürlich gibt es auch wieder zusätzliche Einzelmissionen. Zum Beispiel eine Insel auf der man Tower Defense spielen
  kann, eine Raptorenjagd, oder ein mysteriöses Farbspiel.
</p>
<p>
  Wem das nicht reicht, der kann den Editor nutzen und eigene Karten erstellen. Ein ausgeklügeltes Scriptsytem bietet
  fast unbegrenzte Möglichkeiten. Auch alle Objekte im Spiel lassen sich verändern. Es ist sogar möglich komplett neue
  hinzuzufügen und so das gesamte Spiel zu modifizieren.
</p>
