<p class="headline">
  Schlafen in der freien Natur, alles zu Fuß erkunden und seine Habseligkeiten quer über der Insel verstreuen? Klingt
  nach Abenteuer pur, aber irgendwann wird es zu umständlich oder langweilig. Deshalb sollte der Gestrandete sich
  schleunigst einen Hammer basteln und damit beginnen, Gebäude zu errichten und es sich ein wenig komfortabler zu
  machen.
</p>
<p>
  Benutze den <a href="">Hammer</a> mit der <i>rechten Maustaste</i>, um an einer freien Stelle auf der Insel eine
  <a href="">Baustelle</a> zu errichten. Für jedes Bauwerk benötigst du diverse Materialien, am häufigsten sind das
  <a href="">Blätter</a>, <a href="">Äste</a>, <a href="">Steine</a>, <a href="">Baumstämme</a> und
  <a href="">Lianen</a>. Verbaue diese, indem du den Hammer per <i>rechter Maustaste</i> bei der Baustelle benutzt.
</p>
<p>
  Am Anfang kann man sich entweder einen Unterstand aus Ästen und Blättern bauen oder ein transportables Zelt aus
  Tierhäuten. Mit der Zeit werden neue Gebäude freigeschaltet, etwa ein Lager für Gegenstände aller Art, ein Floß zur
  schnelleren Fortbewegung um die Insel oder eine Falle, um kleine Tiere zu fangen.
</p>

<h2>Gebäude</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Baumaterialien</th>
      <th>Beschreibung</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/tent.png" />
        </div>
        Zelt
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/tentitem.png" />
          <div class="amount">1</div>
        </div>
      </td>
      <td>
        <p>
          Das Zelt ist ein transportables Gebäude. Zunächst musst du dir einen <a href="">Zeltbausatz</a> durch
          Kombination von Ästen und Tierfellen besorgen. Benutze dann den Hammer auf einem freien Stück Land, um eine
          Zeltbaustelle zu errichten. Wenn du den Zeltbausatz in deinem Rucksack trägst, verbaue diesen an der
          Zeltbaustelle und - voila - dein Zelt ist aufgebaut.
        </p>
        <p>
          Sobald du zum ersten Mal ein Zelt aufgebaut hast, werden folgende Bauoptionen freigeschaltet:
          <a href="">Lagerfeuer</a> und <a href="">Zaun</a>.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/shelter01.png" />
        </div>
        Unterstand
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">20</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/leaf.png" />
          <div class="amount">30</div>
        </div>
      </td>
      <td>
        <p>
          So ein Unterstand ist nicht gerade bequem, aber er bietet etwas Schutz beim Schlafen. Um dich vor wilden
          Tieren zu schützen, reicht er jedoch nicht aus.
        </p>
        <p>
          Wenn du deinen ersten Unterstand fertig gebaut hast, werden folgende Bauoptionen freigeschaltet:
          <a href="">Lagerfeuer</a> und <a href="">Zaun</a>.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/treehouse.png" />
        </div>
        Baumhaus
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">10</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">25</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/liana.png" />
          <div class="amount">30</div>
        </div>
      </td>
      <td>
        <p>
          Auf einem Baumhaus bist du vor wilden Tieren bestens geschützt. Um es zu errichten benötigst du einen
          besonders großen Baum (möglich sind diese hier: <img src="/assets/gfx/tree04.png" /><img src="gfx/tree07.png" /><img
            src="gfx/lianatree.png"
          />).
        </p>
        <p>
          Nach dem Bau eines Baumhauses werden folgende Bauoptionen freigeschaltet: <a href="">Kiwizucht</a>,
          <a href="">Falle</a>, <a href="">Floß</a>, <a href="">Großes Lager</a> und <a href="">Hängematte</a>.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/hut.png" />
        </div>
        Hütte
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">20</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">50</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/leaf.png" />
          <div class="amount">60</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/liana.png" />
          <div class="amount">20</div>
        </div>
      </td>
      <td>
        <p>
          Eine Holzhütte benötigt viele Baumaterialien, aber sie bietet viel Platz für Items aller Art und ist äußerst
          stabil. Obendrein hat sie einen lustigen Ausguck.
        </p>
        <p>
          Sobald du mühsam eine Hütte errichtet hast, kannst du folgende neue Dinge bauen: <a href="">Kiwizucht</a>,
          <a href="">Falle</a>, <a href="">Floß</a>, <a href="">Großes Lager</a>, <a href="">Reuse</a>,
          <a href="">Tor</a> und <a href="">Hängematte</a>.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/stance.png" />
        </div>
        Hochsitz
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">10</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">20</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/liana.png" />
          <div class="amount">10</div>
        </div>
      </td>
      <td>
        <p>
          Ein perfektes Plätzchen, um sich einen Überblick über die Insel zu verschaffen. Von einem Hochsitz aus kann
          man mit <a href="">Pfeil und Bogen</a> zum geübten Jäger werden und seinen Angriffs-Skill verbessern.
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h2>Lagerplätze</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Baumaterialien</th>
      <th>Beschreibung</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/storage.png" />
        </div>
        Lager
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">10</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">20</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/stone04.png" />
          <div class="amount">40</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/liana.png" />
          <div class="amount">10</div>
        </div>
      </td>
      <td>
        <p>Bis zu 50 Kilogramm Materialien lassen sich hier einlagern.</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/bigstorage.png" />
        </div>
        Großes Lager
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">20</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">30</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/stone04.png" />
          <div class="amount">50</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/liana.png" />
          <div class="amount">15</div>
        </div>
      </td>
      <td>
        <p>Ein sehr großes Lager mit einer Kapazität von bis zu 250 Kilogramm.</p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/woodstorage.png" />
        </div>
        Holzlager
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">25</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/leaf.png" />
          <div class="amount">35</div>
        </div>
      </td>
      <td>
        <p>
          In einem Holzlager lassen sich Baumstämme sowie Äste und Rinde einlagern. Sehr praktisch als Rohstoffvorrat,
          um neue Gebäude oder Fahrzeuge in der Nähe zu errichten.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/stonestorage.png" />
        </div>
        Steinlager
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">25</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/leaf.png" />
          <div class="amount">35</div>
        </div>
      </td>
      <td>
        <p>Ein praktischer Ort, um Steine und Kieselsteine abzuladen und später zu verbauen.</p>
      </td>
    </tr>
  </tbody>
</table>

<h2>Produktion (Ressourcen-Lieferanten)</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Baumaterialien</th>
      <th>Beschreibung</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/fire02.png" />
        </div>
        Lagerfeuer
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">50</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/stone04.png" />
          <div class="amount">10</div>
        </div>
      </td>
      <td>
        <p>
          Am Lagerfeuer lassen sich Fleisch und Fisch braten sowie Brote backen. In der Dunkelheit weist das Feuer dem
          Gestrandeten den Weg zurück zum Lager, allerdings nur solange bis es regnet und die Flammen erlischen.
        </p>
        <p>
          Solltest du versehentlich auf einer arktischen Insel gelandet sein und an einer
          <a href="">Erfrierung</a> leiden, kannst du dich 3 Sekunden lang am Feuer aufwärmen.
        </p>
        <p>
          Wenn du einen <a href="">Ast</a> am Feuer benutzt, erhältst du eine <a href="">Fackel</a>, die du in die Hand
          nehmen und damit auch im Dunkeln deine Insel erkunden kannst. Sehr praktisch, vor allem wenn man nach
          Sonnenuntergang noch was fertig bauen will und wenigstens sehen kann, wo die Baustelle ist!
        </p>
        <p>
          Nach dem Bau eines Lagerfeuers werden folgende Bauoptionen freigeschaltet: <a href="">Fackel</a>,
          <a href="">Lager</a>, <a href="">Holzlager</a> und <a href="">Steinlager</a>.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/well.png" />
        </div>
        Brunnen
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/stone04.png" />
          <div class="amount">60</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/pebbles.png" />
          <div class="amount">200</div>
        </div>
      </td>
      <td>
        <p>Der Brunnen bietet Trinkwasser an Orten, wo es möglicherweise an natürlichen Wasserquellen mangelt.</p>
        <p>
          Sobald nach dem Brunnenbau 15 Tage vergangen sind, besteht jeden Morgen ein 10-prozentiges Risiko, dass dieser
          <a href="">verschlammt</a> und erst freigegraben werden muss, um wieder Wasser zu liefern.
        </p>
        <p>
          Wenn du einen Brunnen errichtet hast, erhältst du diese neuen Baumöglichkeiten: <a href="">Kiwizucht</a> und
          <a href="">Schmetterlingsgarten</a>.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/bownet.png" />
        </div>
        Reuse
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">20</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/cord.png" />
          <div class="amount">30</div>
        </div>
      </td>
      <td>
        <p>
          Mit einer Reuse im ufernahen Meer fängst du leicht Fische und anderen Kleinkram. Bis zu drei verschiedene
          Items können auf diese Art gefangen werden.
        </p>
        <p>
          Jeden Tag landet mit 80-prozentiger Sicherheit etwas in der Reuse. Die Wahrscheinlichkeit, einen
          <a href="">Fisch</a> zu fangen, liegt bei 66%; für eine <a href="">Muschel</a> oder
          <a href="">Seetang</a> jeweils bei 33%.
        </p>
        <p>
          Nach mindestens 10 Tagen, seit du die Reuse gebaut hast, besteht täglich ein 20-prozentiges Risiko, dass sie
          <a href="">kaputt geht</a>.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/trap.png" />
        </div>
        Falle
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">20</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/cord.png" />
          <div class="amount">25</div>
        </div>
      </td>
      <td>
        <p>
          In diese Tierfalle gerät täglich um Mitternacht mit 80-prozentiger Wahrscheinlichkeit ein kleines Tier. Aber
          nur, wenn nicht bereits eins drin gefangen ist.
        </p>
        <p>
          Baue die Falle irgendwo hin und öffne sie durch Drücken der Benutzen-Taste - erst dann kann etwas gefangen
          werden. Durch erneutes Benutzen schließt sich die Falle wieder.
        </p>
        <p>
          Folgende Tiere können jeweils mit gleicher Wahrscheinlichkeit gefangen werden: <a href="">Krebs</a>,
          <a href="">Skorpion</a>, <a href="">Schnecke</a>, <a href="">Spinne</a> oder <a href="">Kiwi</a>.
        </p>
        <p></p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/kiwibreeding.png" />
        </div>
        Kiwizucht
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">50</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/leaf.png" />
          <div class="amount">80</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/liana.png" />
          <div class="amount">10</div>
        </div>
      </td>
      <td>
        <p>
          Hier entsteht alle zwei Nächte ein Kiwi-Vogel, bis maximal drei vorhanden sind. Kiwis liefern je ein kleines
          Fleisch und fünf Federn oder sehen einfach niedlich aus, wenn man sie leben lässt.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/herbalgarden.png" />
        </div>
        Kräuterbeet
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">5</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">5</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/pebbles.png" />
          <div class="amount">10</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/leaf.png" />
          <div class="amount">30</div>
        </div>
      </td>
      <td>
        <p>
          Über Nacht wachsen in diesem Beet verschiedene Kräuter, bis maximal drei Kräuter vorhanden sind. Du kannst
          diese dann ernten, damit wieder neue nachwachsen.
        </p>
        <p>
          Folgende Kräuter können hier entstehen: <a href="">Blutblatt</a> (25%), <a href="">Heilkraut</a> (15%),
          <a href="">Starkes Heilkraut</a> (5%), <a href="">Goldkraut</a> (25%) oder <a href="">Bitterwurzel</a> (30%).
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/butterflygarden.png" />
        </div>
        Schmetterlingsgarten
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">5</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">10</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/pebbles.png" />
          <div class="amount">15</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/leaf.png" />
          <div class="amount">50</div>
        </div>
      </td>
      <td>
        <p>
          Ein Schmetterlingsgarten erzeugt über Nacht ein bis zwei <a href="">Schmetterlinge</a>, bis maximal drei davon
          in der Gegend herum fliegen. Schmetterlinge lassen sich mit einem <a href="">Netz</a> einfangen und reduzieren
          das Rucksack-Gewicht um jeweils 500 Gramm.
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h2>Dies und Das</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Baumaterialien</th>
      <th>Beschreibung</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/torch01.png" />
        </div>
        Fackel
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">35</div>
        </div>
      </td>
      <td>
        <p>
          Fackeln erleuchten die nähere Umgebung im Dunkeln. Um eine Fackel anzuzünden, benötigst du eine Feuerquelle,
          welche auf die Fackel treffen muss, um das Feuer zu übertragen. Im Klartext: Schlage mit einer
          <a href="">tragbaren Fackel</a> drauf oder schieße einen <a href="">Feuerpfeile</a> auf sie.
        </p>
        <p>
          Wenn die Fackel den Zustand <a href="">ewiges Feuer</a> erhält, erlischt sie niemals. Bei normalem
          <a href="">Feuer</a>-Zustand geht sie spätestens beim nächsten Regen wieder aus.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/fence01.png" />
        </div>
        Zaun
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">20</div>
        </div>
      </td>
      <td>
        <p>Ein kleiner Zaun, der wilde Tiere fern hält und dich somit gegen die Wildnis schützt.</p>
        <p>
          Baue um dein Lager herum mehrere Zäune im Kreis, um komplett geschützt zu sein. Um Baumaterial zu sparen,
          kannst du dein Revier am Wasser aufbauen und brauchst nur den Landzugang mit Zäunen abzusperren. Du selbst
          kannst die Umzäunung einfach überspringen (Standardbelegung: Leertaste), um rein- bzw. rauszukommen.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/defensetower.png" />
        </div>
        Abwehrturm
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">20</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/ironbar.png" />
          <div class="amount">4</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/pebbles.png" />
          <div class="amount">10</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">10</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/feather.png" />
          <div class="amount">10</div>
        </div>
      </td>
      <td>
        <p>
          Besitzt einen hellen <a href="">Lichtschein</a> und verschießt einfache <a href="">Pfeile</a> auf aggressive
          Einheiten im Umkreis des Spielers. Das Schussverhalten entspricht dem eines gewöhnlichen
          <a href="">Bogens</a>.
        </p>
        <p>
          So ein Abwehrturm funktioniert recht primitiv und es ist nicht ausgeschlossen, dass auch der Spieler einmal
          von einem Pfeil getroffen wird, wenn er z. B. gerade vor einem <a href="">Löwen</a> flieht.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/palisade.png" />
        </div>
        Palisadenwall
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">10</div>
        </div>
      </td>
      <td>
        <p>
          Ein massiver Wall aus <a href="https://de.wikipedia.org/wiki/Palisade" target="_blank">Palisaden</a>, welcher
          großen Schutz gegen Angreifer aller Art bietet. Eine solche Barriere hält auch viel mehr aus als ein einfacher
          Zaun und bietet einen Blickschutz. Der Spieler kann allerdings nicht einfach über einen Wall hinwegspringen,
          sondern muss sich z. B. mit einem <a href="">Tor</a> behelfen.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/gate.png" />
        </div>
        Tor
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">14</div>
        </div>
      </td>
      <td>
        <p>
          Dieses schwere Holztor lässt sich vom Spieler öffnen und schließen (durch Drücken der Benutzen-Taste). Das
          dauert eine halbe Sekunde. Es ist die einzige Möglichkeit, wilde Tiere dauerhaft von seinem Lager auszusperren
          - sofern man es immer hübsch herunterlässt, wenn man auf die Jagd geht.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/hammock.png" />
        </div>
        Hängematte
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">2</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/cord.png" />
          <div class="amount">10</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/skin.png" />
          <div class="amount">10</div>
        </div>
      </td>
      <td>
        <p>
          Der gemütlichste Schlafplatz, den ein Gestrandeter auf einer einsamen Insel bekommen kann! Macht sich gut in
          der Landschaft und führt durch Drücken der Benutzen-Taste dazu, dass man ein Nickerchen hält. Ansonsten ist
          das Teil zu nichts weiter zu gebrauchen.
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/monkeyschool.png" />
        </div>
        Affen-Schule
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">3</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">20</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/stone04.png" />
          <div class="amount">20</div>
        </div>
      </td>
      <td>
        <p>
          In einer Affen-Schule lassen sich <a href="">Äffchen</a> zu hilfsbereiten
          <a href="">Trage-Affen</a> ausbilden, welche dem Spieler sein Zeug hinterher tragen.
        </p>
        <p>
          Um einem Affen Gehorsam beizubringen, muss er zunächst <a href="">gezähmt</a> werden. Dies gelingt, indem du
          ihm mehrere <a href="">Bananen</a> zuwirfst, sodass er irgendwann zutraulich wird (erkennbar an den blassroten
          Funken). Benutze dann die Affen-Schule und wähle den Button "Trage-Affen ausbilden (15 Bananen)" aus, um das
          Training zu beginnen. (Logischerweise benötigst du mindestens 15 Bananen in deinem Inventar, damit es klappt.)
        </p>
      </td>
    </tr>
  </tbody>
</table>

<h2>Fahrzeuge</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Baumaterialien</th>
      <th>Beschreibung</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/dugout.png" />
        </div>
        Einbaum
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">5</div>
        </div>
      </td>
      <td>
        <p>
          Mit einem Einbaum kannst du übers Meer fahren - wenn du genug Geduld hast. Dieses Fortbewegungsmittel ist
          nämlich langsamer als der Spieler zu Fuß, und hat obendrein noch einen leichten Drall zur Seite, sodass du
          gegenlenken musst, um in die richtige Richtung zu fahren... Trotzdem, es ist immerhin dein erstes
          Inselfahrzeug!
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="item">
          <img src="/assets/gfx/sailraft.png" />
        </div>
        Segelfloß
      </td>
      <td>
        <div class="item">
          <img src="/assets/gfx/trunk.png" />
          <div class="amount">20</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/branch.png" />
          <div class="amount">30</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/liana.png" />
          <div class="amount">50</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/cord.png" />
          <div class="amount">30</div>
        </div>
        <div class="item">
          <img src="/assets/gfx/skin.png" />
          <div class="amount">25</div>
        </div>
      </td>
      <td>
        <p>
          Du kannst mit diesem Segelfloß fahren oder Sachen darin lagern, um sie zu transportieren. Wie praktisch ist
          das denn! Hier passen bis zu 30 Kilogramm Materialien drauf und es bewegt sich mit 2,2 m/s vorwärts, also
          schneller als man an Land zu Fuß wäre.
        </p>
      </td>
    </tr>
  </tbody>
</table>
