<app-header [tabs]="tabs" [activeTab]="activeTab" (selectTab)="selectTab($event)" *ngIf="!playingStranded2Online"></app-header>

<app-buttons *ngIf="!playingStranded2Online"></app-buttons>

<app-content [tab]="activeTab" *ngIf="!playingStranded2Online">
  <router-outlet></router-outlet>
</app-content>

<app-footer *ngIf="!playingStranded2Online"></app-footer>

<app-play-online *ngIf="!playingStranded2Online" (startGame)="playingStranded2Online = true"></app-play-online>

<app-game *ngIf="playingStranded2Online" (quitGame)="playingStranded2Online = false"></app-game>
