@import '../variables.scss';

#app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// TODO: Refactor (become stranded-toolbar)
app-header {
  display: flex;
  min-width: $navigation-min-width;
  width: $navigation-width;
  max-width: $navigation-max-width;
  height: 80px;
  background: url("/assets/gfx/sys/woodback.png");
  background-repeat: repeat;
}

app-content {
  padding: 16px;
}

.cards {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: calc(100vh / 2 - #{$cardSize} / 2);
  // background: orange;
  width: 100vw;
  height: 600px;

  app-card {
    display: flex;
    width: $cardSize !important;
    height: $cardSize !important;
  }
}