<ng-container *ngIf="translateService.currentLang === 'en'">
  <h1>Welcome to the World of Stranded II</h1>

  <div class="image-container">
    <img src="/assets/gfx/sys/welcome01.png" alt="Eine Krabbe" />
    <img src="/assets/gfx/sys/welcome02.png" alt="Eine Flaschenpost" />
  </div>

  <p class="headline">
    In the legendary 3D Survival Adventure <b>Stranded II</b> the player takes the role of a
    Robinson Crusoe and fights to survive with help of primitive tools.
    The simple yet ingenious game principle is enhanced by a complex environment
    in which objects affect each other and provide numerous non-linear approaches.
    (And moreover, the game gets by perfectly without zombies.)
  </p>

  <p>
    First published on 20 June 2007 for Microsoft Windows, Stranded II is still a popular
    survival game and has a certain addictive potential. Especially the international fan community
    gambles, scripts and mods diligently until today, so that all hobby survival specialists
    should have a lot of fun until the release of Stranded III.
    Beyond that, an <b><a>Online Version of Stranded II</a></b> is currently developed to transfer
    the struggle for survival into the web browser, being playable on every
    operating system without any installation!
  </p>

  <p>
    On this official fan page you will find out everything about the
    legendary Stranded II. Inspect the game objects, units, items, buildings, combinations, and much more.
    In addition you'll receive valuable tips and tricks to survive as well as a detailed walkthrough for the
    adventure mode. Rummage in the Download Contents and find exciting new maps and modifications
    to try out.
  </p>

  <p>
    If you always wanted to know more about the Stranded II Editor and Scripting, then you should have a look
    at the <a>Guides</a>. There you will even learn how to create your own individual adventure game!
  </p>

  <p>
    All visual elements on this website (except for the fonts)
    originate from the game itself and have been adapted in a typical Stranded II look
    (by courtesy of Unreal Software).
  </p>
</ng-container>

<ng-container *ngIf="translateService.currentLang === 'de'">
  <h1>Willkommen in der Welt von Stranded II</h1>

  <div class="image-container">
    <img src="/assets/gfx/sys/welcome01.png" alt="Eine Krabbe" />
    <img src="/assets/gfx/sys/welcome02.png" alt="Eine Flaschenpost" />
  </div>

  <p class="headline">
    Im legendären 3D-Survival-Adventure <b>Stranded II</b> wird der Spieler in die Rolle eines
    Robinson Crusoe versetzt und muss mithilfe primitiver Werkzeuge um sein Überleben kämpfen.
    Das einfache und zugleich geniale Spielprinzip wird ergänzt durch eine komplexe Spielwelt,
    in welcher sich Objekte gegenseitig beeinflussen und dem Spieler zahlreiche nichtlineare
    Lösungswege bieten (und die überdies völlig ohne Zombies auskommt).
  </p>

  <p>
    Am 20. Juni 2007 erstmals für Microsoft Windows erschienen, ist Stranded II nach wie vor ein populäres
    Survival-Game und besitzt ein gewisses Suchtpotential. Besonders die internationale Fan-Community
    spielt, scriptet und modded bis heute fleißig, sodass die Hobby-Überlebenskünstler bis zum Erscheinen
    von Stranded III noch viel Spaß haben dürften. Darüber hinaus entsteht momentan eine
    <b><a>Online-Version von Stranded II</a></b>, um den Überlebenskampf in den Webbrowser
    zu bringen und ganz ohne Installation auf jedem Betriebssystem spielbar zu werden!
  </p>

  <p>
    Auf dieser offiziellen Fanpage erfährst du alles über das
    legendäre Stranded II. Inspiziere die Spiel-Objekte, Einheiten, Items, Gebäude, Kombinationen und vieles mehr.
    Du erhältst außerdem wertvolle Tipps und Tricks zum Überleben sowie eine Komplettlösung für den
    Abenteuer-Modus. Stöbere in den Download-Materialien und finde spannende neue Maps und Modifikationen
    .
  </p>

  <p>
    Falls du schon immer mehr wissen wolltest über den Stranded-II-Editor und das Scripting, dann solltest
    du einen Blick in die <a>Anleitungen</a> riskieren. Dort lernst du sogar, wie du dein ganz persönliches
    Adventure erstellen kannst!
  </p>

  <p>
    Alle visuellen Elemente auf dieser Website (außer den Schriftarten)
    stammen aus dem Spiel selbst und wurden im typischen Stranded-II-Look miteinander kombiniert
    (mit freundlicher Genehmigung von Unreal Software).
  </p>
</ng-container>
