<h1>Willkommen in der Welt von Stranded II</h1>

<div class="image-container">
  <img src="/assets/gfx/sys/welcome01.png" alt="Eine Krabbe" />
  <img src="/assets/gfx/sys/welcome02.png" alt="Eine Flaschenpost" />
</div>

<p>
  Seit der Veröffentlichung von Stranded II am 20. Juni 2007 sind nunmehr zwölf&nbsp; Jahre vergangen.
  Aufgrund dieses besonderen Jubiläums ist es an der Zeit, eine umfangreiche Fan-Page zu diesem alten
  Klassiker des Survival-Genres zu gestalten.
</p>

<p>
  Auf der linken Seite kannst du durch die einzelnen Seiteninhalte navigieren. Erfahre alles über das
  legendäre "Stranded II", inspiziere die Game-Objekte, Einheiten, Items, Kombinationen und vieles mehr.
  Du erhältst außerdem wertvolle Tipps und Tricks zum Überleben sowie eine Komplettlösung für den
  Abenteuer-Modus. Stöbere in den Download-Inhalten und finde spannende neue Maps und Modifikationen.
</p>

<p>
  Falls du schon immer mehr wissen wolltest über den Stranded-II-Editor und das Scripting, dann solltest
  du einen Blick in die Anleitungen riskieren. Dort lernst du sogar, wie du dein ganz persönliches
  Adventure erstellen kannst!
</p>

<p>
  Alle visuellen Elemente auf dieser Website (außer den Schriftarten)
  stammen aus dem Spiel selbst und wurden im typischen Stranded-II-Look miteinander kombiniert
  (mit freundlicher Genehmigung von Unreal Software).
</p>
