<p class="headline">
  Stranded II wurde in
  <a href="https://de.wikipedia.org/wiki/Blitz_Basic#Blitz3D" target="_blank">Blitz 3D</a> programmiert und im Jahre
  2007 erstmals veröffentlicht. Das Spiel ist grundsätzlich für Windows-Systeme gedacht, weil es
  <a href="https://de.wikipedia.org/wiki/DirectX#DirectX_1.0_bis_9.29" target="_blank">DirectX 7.0</a> benutzt und damit
  eigentlich ausschließlich unter Windows XP einwandfrei läuft. Mit ein paar Tricks lässt sich das Leben als
  Gestrandeter aber auch auf modernen Systemen führen.
</p>

<h2>Windows 7, 8 und 10</h2>

<h2>Linux</h2>

<h2>MacOS</h2>
