<ng-container *ngIf="translateService.currentLang === 'en'">

</ng-container>

<ng-container *ngIf="translateService.currentLang === 'de'">
  <ng-container [ngSwitch]="subpage">
    <ng-container *ngSwitchCase="'story'">
      <div class="image-container">
        <img src="/assets//assets/gfx/sys/story.png" alt="Stranded II Story" />
      </div>

      <p class="headline">
        Stranded (engl. für gestrandet) ist ein 3D Survival Game. Du übernimmmst die Rolle eines
        Gestrandeten und musst in erster Linie "einfach" nur versuchen, auf der vermeintlich einsamen Insel, an
        deren Sandstrand dich die Wogen des Schicksals gespült haben, zu überleben.
      </p>
      <p>
        In Stranded II stellst du dich erneut dem Kampf um's Überleben. Dieses Mal gibt es jedoch sehr viel mehr zu
        entdecken und zu erforschen als im Vorgänger.
      </p>
      <p>
        Die gesamte Inselwelt ist nun schöner gestaltet und verfügt über mehr Details. So ist es zum Beispiel
        möglich Tiere zu zähmen oder zu vergiften oder Bäume anzuzünden.
      </p>
      <p>
        Vor allem hat sich jedoch die Anzahl der Möglichkeiten und Objekte im Spiel massiv erhöht. Weit über 100
        unterschiedliche Gegenstände wollen gefunden, benutzt, kombiniert, gegessen oder verbaut werden. Viele neue
        Gebäude ermöglichen es dir ein mächtiges Lager zu errichten, welches Schutz und ungeahnten Komfort bietet.
      </p>
      <p>Im Gegensatz zum Vorgänger gibt es nun ein richtiges Abenteuer, welches sich über mehrere Inseln erstreckt
        und durch Aufgaben, Tagebucheinträge und die Interaktion mit anderen Inselbewohnern voran getrieben wird.
      </p>
      <p>
        Natürlich gibt es auch wieder zusätzliche Einzelmissionen. Zum Beispiel eine Insel auf der man Tower
        Defense spielen kann, eine Raptorenjagd, oder ein mysteriöses Farbspiel.
      </p>
      <p>
        Wem das nicht reicht, der kann den Editor nutzen und eigene Karten erstellen. Ein ausgeklügeltes
        Scriptsytem bietet fast unbegrenzte Möglichkeiten. Auch alle Objekte im Spiel lassen sich verändern. Es ist
        sogar möglich komplett neue hinzuzufügen und so das gesamte Spiel zu modifizieren.
      </p>
    </ng-container>
    <ng-container *ngSwitchCase="'survival'">
      <p class="headline">
        Um auf einer einsamen Insel überleben zu können, musst du zuerst deine
        <b>Grundbedürfnisse</b> stillen: Hunger, Durst
        und Müdigkeit. Du siehst am oberen linken Bildschirmrand eine Anzeige, welche dir mitteilt, wie viel Energie
        du hast und wie hungrig, durstig und müde du bist.
      </p>

      <h2>Hunger</h2>
      <p>
        Beim Erkunden und Bewirtschaften deiner Insel wirst du automatisch nach einer gewissen Zeit hungrig. Sobald
        dein Hunger 100% erreicht, beginnst du Lebensenergie zu verlieren und solltest schleunigst etwas Nahrung zu
        dir nehmen, um nicht zu verhungern. Aber auch wenn das Leben auf einer einsamen Insel hart ist, so gibt es
        doch genügend Möglichkeiten, sich eine ordentliche Mahlzeit zu besorgen oder zumindest ein paar Kalorien in
        den Magen zu bekommen.
      </p>

      <h3>Fleisch und Fisch</h3>
      <div class="image-container">
        <img src="/assets/gfx/screenshots/meat.png" />
        <img src="/assets/gfx/screenshots/fish.png" />
      </div>
      <p>
        Nahezu alle an Land lebenden Säugetiere und Vögel können gejagt werden, um an frisches Fleisch zu gelangen.
        Je nach Größe des Tieres erhält man entweder ein <a href="#">kleines Stück Fleisch</a> oder ein ordentliches
        <a>Steak</a> (bzw. mehrere). Dieses kann roh verzehrt oder an einer Feuerstelle gebraten werden, um die
        Qualität und den Geschmack zu verbessern. So lange man noch keine Waffen besitzt, sollte man erst einmal
        kleinere Tiere wie <a>Kiwis</a>, <a>Krabben</a> oder <a>Schildkröten</a> jagen, welche sich nicht
        verteidigen und nicht schnell genug fliehen können. Später, wenn du ein paar <a>Speere</a> bzw.
        <a>Pfeile</a> und <a>Bogen</a> besitzt, kannst du getrost auch ein paar wilde <a>Löwen</a> erlegen, um an
        größere Fleischportionen zu gelangen.
      </p>
      <p>
        Fische gibt es an verschiedenen Stellen im Meer oder auch in Süßwasserseen. Man kann ihnen auf zwei
        verschiedene Arten begegnen: Durch die Anfertigung einer <a>Angel</a>, welche man am Wasser benutzt, oder
        durch einen Tauchgang im ufernahen Meer. Einige Fische schwimmen nur knapp unterhalb der Oberfläche, während
        andere besonders tief zu finden sind. Du solltest auf deinen begrenzten Sauerstoffvorrat achten, wenn du
        Fische jagst! Kurioserweise liefern getötete Fische anstelle von Fisch-Items jedoch ein <a>kleines
          Fleisch</a>... <a>Geangelte Fische</a> können im Sushi-Style verzehrt oder am Feuer geräuchert werden.
      </p>

      <h3>Früchte</h3>
      <div class="image-container">
        <img src="/assets/gfx/screenshots/fruits1.png" />
        <img src="/assets/gfx/screenshots/fruits2.png" />
      </div>

      <p>
        Die reichhaltige Inselflora lässt die Herzen gestrandeter Vegetarier höher schlagen. So gibt es zahlreiche
        Bäume, welche mit ihren Früchten wie <a>Bananen</a>, <a>Pflaumen</a>, <a>Kakao</a>, <a>Kaffeekirschen</a>
        oder <a>Kokosnüssen</a> den großen Hunger stillen. An einigen Sträuchern wachsen rote <a>Beeren</a>, die
        sich entweder direkt verzehren oder in den Boden einpflanzen lassen, um neue <a>Beerenbüsche</a> zu
        erzeugen. Zudem liefern am Boden wachsende <a>Weinreben</a> dem Spieler leckere <a>Weintrauben</a>, die
        wiederum eingpflanzt oder durch Auspressen mit einem <a>Stein</a> zu <a>Wein</a> verarbeitet werden können.
      </p>

      <h3>Getreideprodukte</h3>
      <div class="image-container">
        <img src="/assets/gfx/screenshots/wheat.png" />
        <img src="/assets/gfx/screenshots/bread.png" />
      </div>

      <p>
        Das Vorhandensein von Getreide auf einer Insel ermöglicht eine komplexe Landwirtschaft, welche den Spieler
        langfristig sehr satt machen wird. Zunächst sollten alle <a>Getreideähren</a> geerntet werden (mit einer
        <a>Sense</a> geht das viel schneller als von Hand). Daraufhin schüttelt man die Ähren durch Benutzen aus und
        erhält <a>Getreidekörner</a>. Diese sollten in die Hand genommen und mit dem Inselboden benutzt werden, um
        sie wieder einzupflanzen.
      </p>
      <p>
        Eine <a>Getreidepflanze</a> benötigt mehrere Tage, um voll auszuwachsen - warte daher mindestens drei Tage
        mit dem Ernten, um die Anzahl der Ähren zu maximieren. Sobald du wenigstens fünf bis sechs Getreidepflanzen
        besitzt, kannst du mit der Herstellung von Teigwaren beginnen. Nimm dazu die <a>Körner</a> und kombiniere
        sie mit einem <a>Stein</a>, um <a>Mehl</a> zu erhalten. Dieses kannst du mit Frischwasser (<a>aus der
          Flasche</a> oder an einer natürlichen <a>Trinkwasserquelle</a>) zu <a>Teig</a> weiter verarbeiten.
      </p>
      <p>
        Wenn du mit deinem Teig an eine Feuerstelle gehst, kannst du dir ein <a>Brot</a> backen, welches selbst den
        größten Hunger stillt. Alternativ mischst du dem Teig etwas <a>Kakaopulver</a> bei (lässt sich aus den
        Früchten von <a>Kakaobäumen</a> gewinnen). Diesen <a>Schokoteig</a> kannst du nun am Feuer backen und
        erhältst leckere <a>Schokokekse</a>.
      </p>

      <h3>Kräuter und Pilze</h3>
      <div class="image-container">
        <img src="/assets/gfx/screenshots/herbs-mushrooms.png" />
      </div>

      <p>
        Frische Kräuter aus der Natur sind nicht nur lecker, sondern auch sehr gesund. <a>Heilkräuter</a> zum
        Beispiel geben dem Verwundeten neue Kräfte, während <a>Goldkraut</a> und <a>Bitterwurzel</a> gegen
        <a>Schwindel</a> bzw. <a>Rauschzustände</a> helfen.
      </p>
      <p>
        Pilze wachsen automatisch dort, wo es Moos gibt, sowie im Schatten großer Bäume. Neben gewöhnlichen
        <a>weißen Pilzen</a> gibt es leckere <a>Braunpilze</a> und rote <a>Zwergenhüte</a>, wobei letztere ihrem
        Namen alle Ehre machen und nur den "kleinen" Hunger stillen. Vorsicht vor den grünen <a>Giftpilzen</a>,
        welche dich dauerhaft vergiften und dir somit Lebensenergie abziehen!
      </p>

      <h3>Würmer und Insekten</h3>
      <div class="image-container">
        <img src="/assets/gfx/screenshots/spiders-snails.png" />
        <img src="/assets/gfx/screenshots/butterflies.png" />
      </div>

      <p>
        Manchmal muss man sich mit einfachen Nahrungsmitteln begnügen, wenn gerade keine größeren Tiere oder
        Pflanzen greifbar sind, die den Gestrandeten versorgen würden. In diesem Fall bietet es sich an, ein paar
        <a>Spinnen</a> oder <a>Schmetterlinge</a> zu jagen, um von ihnen einige <a>Insektenteile</a> zu erhalten.
        Wenn du einen <a>Spaten</a> besitzt, kannst du den Boden ein paar Mal umgraben, um <a>Würmer</a> zu finden
        (schleimig, jedoch vitaminreich). Mit etwas Glück findest du irgendwann auch bessere Dinge wie Kräuter oder
        Pilze. Auch <a>Schnecken</a> lassen sich mit einem Handgriff erledigen und liefern eklig grünen
        <a>Schleim</a>, der mit viel Überwindung geschlürft werden kann. Sammle außerdem ein paar <a>Muscheln</a>
        und knacke sie durch Benutzen auf, so erhälst du viel <a>Schleim</a> und gelegentlich auch eine glänzende
        <a>Perle</a> (letztere solltest du aber besser nicht essen).
      </p>

      <h2>Durst</h2>
      <p>
        Die tropische Sonne heizt das Klima auf der Insel merklich auf. Wer nicht genug trinkt, beginnt
        Lebensenergie zu verlieren. Im Folgenden findest du eine Übersicht aller Durstlöscher.
      </p>

      <h3>Trinkwasser</h3>
      <p>
        Klares, frisches Trinkwaser ist die beste natürliche Ressource, wenn die Kehle dörrt. Du findest es an
        <a>sprudelnden Quellen</a> oder in <a>ausgehöhlten Felsen</a>, wobei du bei letzteren bedenken musst, dass
        der Wasservorrat begrenzt ist. Wenn du eine <a>Flasche</a> besitzt, kannst du dir etwas <a>Wasser
          abfüllen</a> und mit dir herumtragen. Alternativ sammelst du viele <a>Blätter</a> von Palmen und Büschen
        und presst sie mit einem <a>Stein</a> aus.
      </p>
      <p>
        Mit etwas Erfahrung im Bauen von Gebäuden und Zäunen wird es dir gelingen, einen <a>Brunnen</a> zu
        konstruieren, über welchen du an weiteres Trinkwasser gelangst. Bei häufiger Benutzung kann der Brunnen mit
        der Zeit jedoch <a>verschlammen</a> und muss gereinigt werden.
      </p>
      <p>
        Trinke übrigens <b>niemals</b> das Wasser aus dem Meer! Dieses ist salzig und macht dich noch durstiger,
        als du es ohnehin schon bist.
      </p>

      <h3>Saft und Wein</h3>
      <p>
        Wer irgendwann die Nase voll hat von geschmacklosem Trinkwasser, sollte sich ein besseres Getränk
        herstellen. Sammle zum Beispiel ein paar rote <a>Beeren</a> von den Büschen und quetsche ihren <a>Saft</a>
        mithilfe eines <a>Steines</a> aus. Sofern es auf deinem Eiland mindestens eine <a>Weinrebe</a> geben sollte,
        kannst du <a>Weintrauben</a> ernten und ebenfalls mit einem <a>Stein</a> auspressen, um leckeren <a>Wein</a>
        zu erhalten. Du solltest es mit dem Alkohol jedoch nicht übertreiben, sonst wirst du <a>berauscht</a> und
        verlierst Energie.
      </p>

      <h3>Tränke</h3>
      <p>
        Mithilfe von Wasser und Kräutern lassen sich leckere Tränke brauen, die nebenbei auch neue Kräfte oder
        Fähigkeiten verleihen. So gibt ein <a>Heiltrank</a> etwa neue Energie, während der <a>"Trank der Hast"</a>
        die Fortbewegungs-Geschwindigkeit für eine Minute verdoppelt. Ein <a>"Lufttrank"</a> wiederum versorgt dich
        unter Wasser mit wertvollem Sauerstoff.
      </p>

      <h3>Nahrungsmittel</h3>
      <p>
        Solltest du einmal keinerlei Flüssigkeiten in purer Form zur Verfügung haben, musst du trotzdem nicht
        gleich verdursten. Es gibt zahlreiche Nahrungsmittel, welche sowohl deinen Hunger als auch Durst stillen,
        zum Beispiel <a>Fleisch</a> und <a>Fisch</a>, Früchte oder Schleim. Jedoch musst du mehr von diesen
        Lebensmitteln zu dir nehmen als sonst, um deinen Durst weit genug zu stillen.
      </p>

      <h2>Müdigkeit</h2>
      <p>
        Springen, Angeln, Gebäude errichten - all das kostet den Spieler Kraft und führt mit der Zeit zur
        Erschöpfung. Schlafen kannst du ganz einfach per Tastendruck (Standardbelegung: <i>Z</i>) oder indem du eine
        Hängematte benutzt. Eine unkonventionelle Methode, um die Müdigkeit zu unterdrücken, ist der Konsum von
        Kaffeekirschen, welche dich aufputschen.
      </p>
    </ng-container>
  </ng-container>
</ng-container>
